style="cursor:not-allowed;font-size:15px;outline:none;border:1px solid gray;width:240px;height:38px;border-radius:5px;padding-left:10px;"

style="border-radius:5px;cursor:not-allowed;font-size:15px;font-weight:normal;outline:none;border:1px solid gray;width:250px;height:40px;padding-left:10px;"
class="background-info-div"